@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <a href="https://www.actemium.com/privacy-policy/">
        Lees meer over de privacy policy van Actemium
    </a>
</p>
