@model Ticketing_System_TILE03.Models.Domain.Ticket

@{
    
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this @ViewData["Titel"]?</h3>
<div>
    <h4>Ticket @ViewData["Titel"]</h4>
    <hr />
      
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
